.loginBlock{
    margin: auto;
    text-align: center;
    max-width: 40%;
    background: gray;
}
.loginBlock h4{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-top: 20px
}
.form button{
    margin: 20px 0px 25px 0;
}
.inputField{
    width: 70%;
}




/* .messageField{
    max-height: 80%;
    overflow: scroll;
} */

.messageBlock{
    background-color: rgba(128, 128, 128,0.4);
    margin:20px 10px 0px 20px;
    border-radius: 10pt;
}

.messageBlock *{
    padding-left: 10px;
}

body{
    background-color:rgba(128, 128, 128,0.2);
}
.messagePaperBlock{
    padding-top:10px;
    padding-bottom:15px;
    height: 80vh;
    overflow-y: scroll;
}

.inputBlock{
    border: 1px solid;
    width: 100%;
}

.paperInputForm{
    padding: 20px 0px;
    padding-left: 20px;
    text-align: center;
    width: 100%;
}

.gridContainer{
    min-height: 80vh;
}

.title{
    flex-grow: 1;
}


.sideUsersBlock{
    height: 100%;
    /* overflow-y: scroll; */
}

.sideUsersBlock li{ 
    list-style-type: none;
}

.sideUsersBlock > ul{
    margin-top: 0px;
    padding-top: 20px;
}