.loginBlock{
    margin: auto;
    display: block;
    border: 1px solid;
    text-align: center;
    color: blue;
    max-width: 450px;
}

.loginBlock input{
    display: block;
    margin: auto;
    margin-top: 12px;
}

.loginBlock [type="submit"]{
    margin-bottom: 15px;
}

.loginBlock div{
    margin-bottom: 10px;
}

.messageBlock{
    border: 1px dashed black;
    background-color: gray;
    border-radius: 15px;
    margin: 10px;
}

.messageBlock p{
    margin: 0 10px;
}

.nameClass{
    font-style: italic;
}

.textClass{
    display: block;
    padding-left: 20px;
    font-size: 20px;
    font-weight: bold;    
}

.messageWindow{
    max-width: 75%;
    border: 1px solid;
}

.sideUsersBlock{
    max-width: 30%;
    border: 1px solid;
}